@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

a:hover, a:active, a:focus, a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
}

body {
    height: Calc(100% - 8em);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    min-height: 8em;
    display: inline-flex;
    align-items: center;
}

header hgroup {
    float: left;
    padding-left: 1rem;
    margin: 2rem 0 2rem 0;
}

header hgroup h1 {
    margin: 0;
    font-size: 0;
    padding-bottom: 1rem;
}

header hgroup h1 span {
    display: inline-flex;
    width: 100%;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

header hgroup span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Roboto Mono', monospace;
    padding-right: 3rem;
}

header nav {
    margin-left: auto;
    font-weight: 200;
}

.currentView {
    font-weight: 900;
}

header ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0 2rem 0 auto;
    text-align: right;
}

header ul li {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    padding: 0 1em 0 1em;
    text-align: right;
}

header ul li:last-child {
    border-right: none;
}

@media (max-width: 30em){
    header ul {
        display: inline-block;
        align-items: end;
        text-align: right;
    }
    header ul li {
        display: inline-block;
        width: 100%;
        border: none;
        text-align: right;
    }
}
@media (min-width: 30em) and (max-width: 50em) {
    header ul li {
        display: inline-block;
        width: 40%;
        padding-right: 0;
        text-align: center;
    }
    header ul li:nth-child(-n+2) {
        padding-bottom: 1rem;
    }
}

@media (min-width: 50em) {
    header ul li {
        border-right: white 0.1em solid;
    }
}

main {
    margin-top: 8em;
    width: 100%;
    min-height: Calc( 100% - 16em);
}

footer {
    display: inline-block;
    width: Calc(100% - 2rem);
    min-height: 14rem;
    background-color: #e3e3e3;
    padding: 1rem;
}

footer section {
    text-align: center;
}

/* Responsive changes for mobile view */
@media (max-width: 30em){
    footer section {
        width: 100%;
    }
}

/* Responsive changes for tablet view */
@media (min-width: 30em) and (max-width: 50em) {
    footer section {
        width: 50%;
    }
}

/* Responsive changes for web view */
@media (min-width: 50em) {
    footer section {
        width: 50%;
    }
}

footer section a div {
    color: #848484;
    float: left;
    font-size: 1.75rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
}
footer section a div span {
    display: flex;
}