@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a:hover, a:active, a:focus, a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
}

body {
    height: Calc(100% - 8em);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    min-height: 8em;
    display: inline-flex;
    align-items: center;
}

header hgroup {
    float: left;
    padding-left: 1rem;
    margin: 2rem 0 2rem 0;
}

header hgroup h1 {
    margin: 0;
    font-size: 0;
    padding-bottom: 1rem;
}

header hgroup h1 span {
    display: inline-flex;
    width: 100%;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

header hgroup span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    font-family: 'Roboto Mono', monospace;
    padding-right: 3rem;
}

header nav {
    margin-left: auto;
    font-weight: 200;
}

.currentView {
    font-weight: 900;
}

header ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0 2rem 0 auto;
    text-align: right;
}

header ul li {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    padding: 0 1em 0 1em;
    text-align: right;
}

header ul li:last-child {
    border-right: none;
}

@media (max-width: 30em){
    header ul {
        display: inline-block;
        align-items: end;
        text-align: right;
    }
    header ul li {
        display: inline-block;
        width: 100%;
        border: none;
        text-align: right;
    }
}
@media (min-width: 30em) and (max-width: 50em) {
    header ul li {
        display: inline-block;
        width: 40%;
        padding-right: 0;
        text-align: center;
    }
    header ul li:nth-child(-n+2) {
        padding-bottom: 1rem;
    }
}

@media (min-width: 50em) {
    header ul li {
        border-right: white 0.1em solid;
    }
}

main {
    width: 100%;
    min-height: Calc( 100% - 13em);
}

main section {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

main section h2 {
    padding-top: 2rem;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

main section ul {
    list-style: none;
    padding: 0;
}

main section li {
    padding-bottom: 1.5rem;
}

main section article {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0.3em 0.8em 0.1em rgba(0,0,0,0.35);
    border-radius: 2rem;
}

main section article aside {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 1rem;
    max-width: 6rem;
}

main section article aside img {
    display: inline-block;
    max-width: 6rem;
    border-radius: 1rem;
}

main section article aside a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1898ff;
    font-weight: 700;
}

main section article aside a:hover {
    font-weight: 900;
    color: #1898ff;
}

@media (max-width: 30em){
    main section article aside:last-child {
        flex-basis: 100%;
        max-width: none;
        margin: 0 1rem 1rem 1rem;
    }
    main section article aside:last-child a {
        width: 100%;
        text-align: right;
    }
    main section article div:last-of-type {
        display: none;
    }
}

@media (min-width: 30em) and (max-width: 40em) {
    main section article aside:last-child {
        flex-basis: 100%;
        max-width: none;
        margin: 0 1rem 1rem 1rem;
    }
    main section article aside:last-child a {
        width: 100%;
        text-align: right;
    }
}

main section article div {
    margin: 1rem 1rem 1rem 0;
}

main section article div:first-of-type {
    flex: 2;
}

main section article div:first-of-type h3 {
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

main section article div:first-of-type p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

main section article div:last-of-type {
    max-width: 6rem;
    flex: 3;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

main section article div:last-of-type p {
    margin: 0;
}

main section article div:last-of-type p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 800;
}


footer {
    justify-content: space-between;
    width: Calc(100% - 2rem);
    min-height: 4rem;
    background-color: #e3e3e3;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

footer section {
    text-align: left;
    flex: 1;
    width: 100%;
}

@media (max-width: 30em){
    footer {
        display: block;
    }
}

@media (min-width: 30em) and (max-width: 50em) {
    footer section:first-child, footer section:last-child {
        flex-basis: 100%;
        text-align: center;
    }
    footer section {
        text-align: center;
    }
}

@media (min-width: 50em) {

    footer section:last-child {
        flex-basis: 100%;
        text-align: center;
    }

    footer section:last-child p {
        padding: 0;
        margin: 0;
    }
}

footer section:last-child {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

footer section:first-child {
    min-height: 5rem;
}

footer section a div {
    color: #848484;
    font-size: 1.75rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
}
footer section a div span {
    display: flex;
}

footer section ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
}

footer section li {
    font-family: 'Roboto Mono', monospace;
}

footer section h3 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

